.page-title {
  text-align: center;
  font-size: 170%
}

.subtitle {
  font-size: 100%
}

.school-result {
  font-size: 130%
}

.App{
  
}

.facamp{
  background-image: url('./img/faccamp.png');
}

.row{
  height: 100%;
}

.content{
  background-color: white;
}